{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <span class="write-review text-center">
                    <h1 class="logo-font">Reviews</h1>
                    <p>We would live to hear from you. All suggestions and comments are welcomed! 
                    </p>
                    <a class="write-review-link text-center" href="{% url 'create_review' %}"><strong>Please write a review</strong></a>
                </span>
            </div>
        </div>
    </div>

    {% for review in reviews %}
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="card text-center review-body" style="width: 122rem;">
                    <div class="card-body">
                        <h2 class="card-title"><strong>{{ review.title }}</strong></h2>
                        <p class="card-subtitle mb-2 text-muted">{{ user.username }}</p>
                        <p class="card-text"><strong>"{{ review.review }}"</strong></p>
                        <p class="card-text">{{ review.created_on}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    {% endfor %}

{% endblock %}