
{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog_posts/css/blog_posts.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

<div class="container">
    <!-- Edit idea form heading and information -->
    <h1>Edit your Blog Post</h1>
    <p>If you have any updates to your blog post please update them here.</p>
    <!-- Edit idea form-->
    <form class="edit_idea_form" action="{% url 'edit_blog_post' blogpost.id %}" method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form.id }}
        {{ form|crispy }}
        {{ form.media }}

        <input class="button" type="submit" value="Submit">
    </form>

</div>
{% endblock %}