
/* background colour to cover picture */
.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: lightgray;
    z-index: -1;
}

/* blog pics */

.blog-post-page-pic {
    width: 100%;
    height: 28vw;
    object-fit: contain;
}

/* blog links */
.blog-name-link{
    color: #555;
}

.blog-name-link:hover {
    text-decoration: none;
    font-size: 16px;
    color: rgb(64, 64, 64);
}

.blog-post-link {
    padding: 5px;
    color: #555;
    border: 2px solid;
    border-color: #555;
    border-radius: 8px;
}

.blog-post-link:hover {
    padding: 6px;
    color: rgb(64, 64, 64);
    border: 3px solid;
    border-color: rgb(64, 64, 64);
    text-decoration: none;
    border-radius: 8px;
}

/* blog detail page */

.delete-blog {
    margin-left: 7px;
}

.header-container {
    padding-top: 83px;
}

.header-container-delete-blog{
    padding-top: 40px;
}

.edit-blog {
    text-align: right;
}

.blog-detail-pic {
    width: 100%;
    height: 45vw;
    object-fit: contain;
}

.summary {
    font-size: 1.15rem;
}

.website {
    font-size: 1.15rem;
}

.create-review-head {
    font-size: 1.25rem!important;
}

/* Media Queries */

/* Media Queries Blog Detail */

@media (min-width: 992px) {
    .header-container {
        padding-top: 130px;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    } 
}